.pageLink:hover {
	color: red;
	cursor: pointer;
	transition-duration: 200ms;
}

.pageLink {
	transition-duration: 200ms;
	font-weight: 500;
}

.current {
	transition-duration: 200ms;
	font-weight: bold;
	color: #a1cd36;
}

.current:hover {
	color: #a1cd36;
}

#main:hover {
	cursor: pointer;
}